.container, .top-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-size: 1.2rem;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}
.top-bar{
    background-color: #232626;
    width: 100vw;
    height: 4rem;
    flex-direction: row;
}
.page-info, .set-scale{
    margin-left: 2rem;
    color: white;
}

.btn, .scale-btn{
    margin-left: 2rem;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.8rem;
    border: none;
    background: linear-gradient(to right, #7f00ff, #e100ff);
}
.scale,.scale-btn{
    margin-left: 0.5rem;
}
.scale{
    width: 3rem;
    height: 1.2rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
}
#page-num{
    width: 2.8rem;
    height: 0.8rem;
    border-radius: 0.3rem;
    padding: 0.5rem; 
}
#pdf-render{
    border: 1px solid black;
    margin-top: 1rem;
    box-shadow: 0.8rem 0.8rem 0.8rem rgb(0,0,0);
    margin-bottom: 1rem; 
    border-radius: 0.3rem;
}
button{
    color: white;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}